$border-color-neutral: #b9b9b9;
$border-color-highlight: #ffcf3d;

.content-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-field {
  border: 2px solid $border-color-neutral;

  &.highlight {
    border: 2px solid $border-color-highlight;
  }

  &:focus {
    outline: none;
  }
}
