@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 'Source Sans Pro', sans-serif;
}
